<%= link_to 'Show All My Cars', cars_path(@cars) %>
<%= link_to 'Edit Car', edit_car_path(@car) %>
<%= link_to 'Delete Car', car_path(@car), class: 'card-footer-item has-text-weight-bold',
  method: :delete, data: { confirm: 'Are you sure you want to delete this car?' } %>

<article id="contact">
  <div class="formContainer">
    <h2><%= @car.brand %> - <%= @car.model %> Information </h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">Year</th>
          <th scope="col">Vin Number</th>
          <th scope="col">Mileage</th>
          <th scope="col">Transmission</th>
          <th scope="col">Drive Type</th>
          <th scope="col">Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @car.brand %></td>
          <td><%= @car.model %></td>
          <td><%= @car.year %></td>
          <td><%= @car.vin %></td>
          <td><%= @car.mileage %></td>
          <td><%= @car.transmission %></td>
          <td><%= @car.drive_type %></td>
          <td><%= @car.color %></td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</article>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Services:</h3>
<%= link_to 'Add new Service', new_car_service_path(@car) %>
    <h4 class="card-subtitle mb-2 text-muted">
      <ol>
        <% counter = 0 %>
        <% @car.services.each do |service| %>
          <% if service %>
            <% partial = service %>
            <% counter += 1 %>
          <% else %>
            <%= partial = " " %>
          <% end %>
          <%= render partial: partial, object: service, locals: { counter: counter } %>
        <% end %>
        <% if counter == 0 %>
          <h2><strong><%= "You don't have any service for your car!" %></strong></h2>
        <% end %>
      </ol>
    </h4>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
